/* .image-div{
  background-color: rgb(202, 184, 161);

  margin: auto;
  width: 150px;
  
} */

.container{
 
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;

}

.img-site{
  width: 250px;
}


