.navbar{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  box-shadow: 0 3px 8px 0 #0000001A; /* Adjust values as needed */

  

  
}




.navbar :first-child{
  font-size: 40px;
}

.home--css{
  margin-left: auto;
  text-decoration: none;
  color: black;
  
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.1s;
}
.home--css:hover{
  transition: 0.1s;
  background-color: gold;
  color: whitesmoke;
}
.logo{
  color: gold;
}

