*{
  margin: 0;
}
.container{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.data-card{
  position: relative;
  margin: 10px;
  font-size: 0.75rem;
  font-weight: 300;
  width: 205px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.solid-img{
  
  position: absolute;
  top: 10px;
  left: 10px;
}
span p{
  display: inline;
}
.fa-star{
  padding: 2px;
}
.rating{
  color: gray;
}
.price{
  font-weight: 500;
}

.card--link-css{
  text-decoration: none;
  color: inherit;
}

.city-img{
  border-radius: 5px;
}
